body{
    background-color:#eee;
    font-family: 'Open Sans', sans-serif;
}
.container{
    display:grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
    padding:70px;
}
.white-ones{
    background-color: white;
    color:black;
    border-bottom: 5px solid #ff3d00;
    padding: 8px;
}
.black-ones{
    background-color:black;
    color:white;
    border-bottom: 5px solid #ff3d00;
    padding: 8px;
}
span{
    color:#a8a8a8;
    font-weight: bold;
}
.two-g-c{
    grid-row:span 2;
}
.two-g-r{
    grid-column:span 2;
}
.three-g-r{
    grid-row:span 3;
}
